<div class="well">
<%= form_for(event) do |f| %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title,:class=>'form-control input-md' %>
  <%= error_message f,:title%>
</div>

<div class="form-group">
  <%= f.label :location %>
  <%= f.text_area :location,:class=>'form-control input-md'%>
  <%= error_message f,:location%>
</div>

<div class="form-group">
  <%= f.label :entry_fee %>
  <%= f.text_field :entry_fee,:class=>'form-control input-md'%>
  <%= error_message f,:entry_fee%>
</div>

<div class="form-group">
  <%= f.label :event_date %>
  <%= f.datetime_select :event_date,ampm: true,prompt: true,:order => [:hour, :minute, :day, :month, :year]%>
  <%= error_message f,:event_date%>
</div>

<div class="form-group">
  <%= f.submit "Submit",:class=>"btn btn-primary btn-md"%>
</div>
<% end %>
</div>