<div class="container">
  <div class="jumbotron">
    <h1> <%= @event.title %></h1>
    <h3>  On : <%= @event.event_date.strftime("%a , %I:%M - %F") %></h3>
    <h4>Entry Fee : <%=personalized_entry_fee(@event.entry_fee)%></h4>
    <p class="lead"> Location : <%= @event.location %></p>
    <%if signed_in?%>
    <%= confirmation_link(@event) %>
    <%end%>       
  </div>
</div>
<h4>Registered Memebers</h4>
<% if @event.users.present?%>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <%@event.users.each do |user| %>
      <tr>
        <td><%=user.name%></td>
        <td><%=user.gender%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%else%>
    No Members yet confirmed.
  <%end%>
</div>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', root_path %>
